// import less for all components
@import './navbar.less';
@import './header.less';
@import './login.less';
@import './tournaments.less';

// TODO: create a file for color variables and whatnot
// some global stuff
body, * {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
}

a {
		text-decoration: none;
}


// color palette:
@green: #7FB800;
@blue: #00A6ED;
@orange: #FFB400;
@red: #F6511D;
@darkBlue: #F6511D;