.login-form {
	margin: 15px 30px;
	max-width: 400px;
	text-align: center;
}

.login-method {
		&__btn-goog {
			background-image: url('/app/assets/btn_google_signin_dark_normal_web@2x.png');
			background-size: 240px;
			height: 60px;
			width: 240px;
		}
}