.teams {
   margin: 15px 30px;

	&__header {
		display: inline-block;
    vertical-align: top;
		font-size: 25px;
	}

	&__create-button {
		cursor: pointer;
		display: inline-block;
		margin-left: 25px;
		padding: 10px;
		overflow: hidden;
		border-radius: 5px;
		border: 1px solid @orange;
		color: @orange;

		&:hover {
			background-color: @blue;
		}

		span {

		}
	}

	&__list {
		margin-top: 15px;
	}

	&__none {
	}

	&__card {
	}
}